.App {
  text-align: center;
}
body {
  background-color: whitesmoke;
}
#vote-div {
  display: none;
}
#connect-simba {
  display: none;
}
.input-field {
  margin: 10px;
}
.input-button {
  padding: 10px;
  border-radius: 20px;
}
.submit-button {
  background-color: rgb(0, 0, 199);
  color: white;
  font-size: 12.5px;
}
.info {
  margin: 50px;
}
h1 {
  padding-bottom: 20px;
}
.logo {
  height: 200px;
  width: auto;
}

.header {
  background-color: white;
}

#wallet-address {
  color: red;
}
#progress {
  color: red;
}
.header {
  background-color: white;
  border-style: solid;
}
.footer {
  background-color: white;
  border-style: solid;
}

.Candidate{
  margin: 10px;
}
.video-container {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

.video-container iframe,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
}

/* And set the max-width of the parent element */
.video-wrap {
  width: 100%;
  max-width: 600px;
}
.center {
  margin: auto;
}
